body {
  background-color: #C8AD28;
  color: #311288;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: #E65F33;
}

body {  
  width: 1000px;
  border: #E65F33;
  }
  
header,
main,
footer {
 max-width: 900px;
  margin: 0 auto;
  color: #000;
}
.footer h1 {
  color: #000;
}
header,
footer {
  padding: 1.5rem;
  background-color: #A42B23;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
/*/////////////////////////////////////////////////////////////////////*/
header {
display: flex;
flex-direction: column;
}
header img {
max-width: 100%;
align-self: center;
}
header p {
font-weight: bold;
font-size: 1.5rem;
margin: 0;
}
header div{
margin: auto 1rem;
}
header {
  display: flex;
  padding: 10px 0;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  height: auto;
  }


/*///////////////////////////////////////////*/

/*/////////////////////////////////////////////*/

header {
background-color: #A42B23;
padding: 10px 0;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1000px;
margin: 0 auto;
border-bottom: 1px solid #bbb;
}
.logo {
display: flex;
align-items: center;
margin-left: 1rem;
}
.logo img {
width: 100%;
height: auto;
}
.headings {
display: flex;
flex-direction: column;
margin-left: .5rem;
}
.headings h1 {
font-size: 1.5rem;
}
.m {
letter-spacing: 1pt;
color: forestgreen;
font-weight: 700;
font-size: 0.8rem;
}
.social {
margin-right: 1.5rem;
}
.social svg {
width: 3px;
height: 3px;
}
.social img {
width: 30px;
height: 30px;
}
.social img {
width: 3%;
height: 3%;
align-items: flex-start;
float: right;
padding: auto;
}
/*date.css*/
#lastModified {
text-align: center;
font-size: smaller;
margin: 0;
background-color: rgb(141, 158, 211);
}
/*///////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////*/

/* Larger viewports */
body {
  color: #311288;
  max-width: 100%;
  margin: auto;
  background-color: rgb(238, 238, 238);
  font-family: "Roboto", sans-serif;
  line-height: 1.55em;
  height: 100%;
  }
  
  /* Larger viewports */
  @media only screen and (min-width: 32.5em) {
    header img {
      width: 100%;
    }
    .headings h1 {
      font-size: 2rem;
      margin: 0;
    }
    .m {
      letter-spacing: 1.5pt;
      font-size: 0.9rem;
    }
  }/* end header set icons.css */
  
  /* end header set icons.css */
  
  
  .nav button{
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color:#555;
  }
  
  .nav {
    background-color: #ebe7db;
    margin-right: .6rem;
    
    }
    nav {
    margin: 0 auto;
    font-size: 1.25rem;
    background-color: #d2e8eb;
    color: #f5f8f8
    
    }
    
    
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;
      justify-content: center;
    }
    
    nav ul li a {
      display: block;
      padding: .8rem 2vw;
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: none;
      color:#333;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    nav ul li.active a {
      background-color: rgba(0,0,0,0.2);
      color: #fff;
      text-align: center;
    }
    
    nav ul li a:hover {
      background-color: rgba(0,0,0,0.3);
    }
    
    nav ul { display: none; }
    
    nav ul.open { 
      display: block; 
      text-align: left;
    }
    
    #hamburgerBtn span:nth-child(1) { display: block; }
    #hamburgerBtn span:nth-child(2) { display: none; }
    
    #hamburgerBtn.open span:nth-child(1) { display: none; }
    #hamburgerBtn.open span:nth-child(2) { display: block;}
    
  
  
/*/////////////////////////////////////////////////////////////////////*/

#profilePic {
  max-width: 250px;
  height: auto;
   
    
  }
  
  #profile-name {
    margin-left: 55px;
    right: 0;
  }
  
  
  #profilepic {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float: left;
  }


h1 {
  font-size: 1.5rem;
  color: #000;
}
h2 {
  font-size: 1rem;
  color: #000;
}

main, main a {
  color: black;
}

main ul {
  display: inline-block;
  text-align:center;
}
/* ========================= */ 
main {
display: block;
font-size: 15.3px;
padding: 20px;
font-weight: 500;
margin: 1px auto;
border: solid blue 1px;
}
main h2 {
margin-bottom: auto;
color: #000;
}
a {
text-decoration: none;
color: #007ADB;
}

footer a {
  color: #A42B23;
}

.nested{
  display: block;
}
/*////////////////////////////////////////////////////////////////////*/
.formMain {
max-width: 465px;
margin: auto;
padding: 50px;
}
form {
font-family: "Roboto", sans-serif;
color: #030202;
}
form fieldset {
margin: 1rem 0 3rem 0;
border: 1px solid #1e316d;
border-radius: 10px;
padding: .5rem 2%;
max-width: 100%;
}
form legend {
margin: 0 1rem;
padding: 0 1rem;
color: #1e316d;
}
form label.top,
form div {
display: block;
padding-top: 1rem;
max-width: 93%;
}
form label.top input,
form label.top select,
form label.top select.option {
-webkit-appearance: none;
display: block;
border: solid 1px #999;
border-radius: 4px;
padding: .75rem;
color: #555;
width: 100%;
max-width: 100%;
background-color: white;
}
form label.sbs {
display: block;
padding: .75rem 0;
color: #555;
max-width: 100%;
}
.space {
margin-top: -15px;
padding: .5rem;
width: 94%;
height: 215px;
border-radius: 5px;
}
form label.top input:required {
border-left: #080707 solid 6px;
}

.flexly {
display: flex;
align-items: center;
}
/*/////////////////////////////////////////////*/
.card {
display: flex;
flex-direction: column;
align-items: center;
}
.item-container {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-end;
}
.page-header img {
display: block;
margin: 0 auto;
width: 21rem;
}
label {
font-size: 20px;
}
.search-container {
display: flex;
justify-content: center;
}
.card img {
width: 50px;
margin: 10px auto 0;
}
.card h3 {
font-size: .75rem;
text-align: center;
}
.P {
color: #000;
}
.h1 {
color: #000;
}
.item-container {
display: flex;
flex-flow: row wrap;
justify-content: space-around;
margin: 0 20rem;
}
.bttn-container {
text-align: center;
}
/*/////////////////////////////////*/

header {
  background-color: #A42B23;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto; width: 100%;
  border-bottom: 1px solid #bbb;
}
/*///////////////////////////////*/

/*////////////////////////////////////*/
button, [type='submit'] {
background-color: #1f1137;
color: rgb(217, 209, 219);
font-weight: bold;
border-radius: 50%;
padding: 10px 15px;
}
/*////////////////////////////////////*/
body {
  background-color:   #E65F33;
  padding: 1em;
  margin-bottom: 1em;
 background-origin: padding-box;
 border: #E65F33;
}
button, [type='submit'] {
  background-color: #1f1137;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  padding: 10px 15px;
}
main {
  background-color:   #C8AD28;
  display: block;
  font-size: 15.3px;
  padding: 20px;
  }
/*////////////////////////////////////*/
/*////////////////////////////////////////FRUITS MIXER//////////////////////////*/

footer {
  display: block;
  padding: 10px 0;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  
  }


/*////////////////////////////////////////// MIXER //////////////////////////////////////*/
